{% extends "minitwit/layout.html" %}
{% block title %}
  {% if public_timeline %}
    Public Timeline
  {% elif user_timeline %}
    {{ username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
{% if user_logged_in %}
  {% if user_timeline %}
    <div class=followstatus>
    {% if followed %}
      You are currently following this user.
      <a class=unfollow href="{% url 'unfollow_user' username %}">Unfollow user</a>.
    {% else %}
      You are not yet following this user.
      <a class=follow href="{% url 'follow_user' username %}">Follow user</a>.
    {% endif %}
    </div>
  {% elif timeline %}
    <div class=twitbox>
      <h3>What's on your mind {{ username }}?</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Share</button>
      </form>
    </div>
  {% endif %}
{% endif %}
  <ul class=messages>
  {% for message in messages %}
      <li><img src="{{message.gravatar}}"><p>
      <strong><a href="{% url 'user_timeline' message.username %}">{{ message.username }}</a></strong>
      {{ message.text }}
      <small>&mdash; {{ message.pub_date}}</small>
  {% endfor %}
  </ul>
{% endblock %}
